{% extends "core/base.html" %}
{% block main %}


<!-- Registration 3 - Bootstrap Brain Component -->
<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 bsb-tpl-bg-platinum">
          <div class="d-flex flex-column justify-content-between h-80 p-3 p-md-4 p-xl-5">
            <h3 class="m-0">Welcome!</h3>
            <img class="img-fluid rounded mx-auto my-4" loading="lazy" src='/media/img/logo.png' width="245" height="80" alt="BootstrapBrain Logo">
            <hr>
            <p class="mb-0">Already a member ? <a href="/user/login/" class="link-secondary text-decoration-none">Login</a></p>
          </div>
        </div>
        <div class="col-12 col-md-6 bsb-tpl-bg-lotion">
          <div class="p-3 p-md-4 p-xl-5">
            <div class="row">
              <div class="col-12">
                <div class="mb-5">
                  <h2 class="h3">Registration</h2>
                  <h3 class="fs-6 fw-normal text-secondary m-0">Enter your details to register</h3>
                </div>
              </div>
            </div>
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
               <strong> {{ form.errors }}</strong>
            </div>
                {% endif %}

            <form method="POST">
                {% csrf_token %}
              <div class="row gy-3 gy-md-4 overflow-hidden">
                <div class="col-8">
                  {{form.username}}
                </div>
                <div class="col-8">
                  {{form.email}}
                </div>
                <div class="col-15">
                  {{form.password1}}
                  <p>Password must contain 8 characters long.</p>
                  <p>Password should not be similar to Username</p>
                  <p>Password Should contain uppercase , lowercase , Integer</p>
                </div>
                <div class="col-8">
                  {{form.password2}}
                </div>

                {% comment %} <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" name="iAgree" id="iAgree" required>
                    <label class="form-check-label text-secondary" for="iAgree">
                      I agree to the <a href="#!" class="link-primary text-decoration-none">terms and conditions</a>
                    </label>
                  </div>
                </div> {% endcomment %}
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn bsb-btn-xl btn-primary" type="submit">Sign up</button>
                  </div>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-12">
                <hr class="mt-5 mb-4 border-secondary-subtle">
                <p class="m-0 text-secondary text-end">Already have an account? <a href="/user/login/" class="link-primary text-decoration-none">Sign in</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock main %}